@model IEnumerable<CashWatch.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<div class="container col-md-12">
    <h1>Transactions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    <p>
        <a asp-action="Create" class="btn btn-success">Add a Transaction</a>
    </p>
</div>
